.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border:white 10px;
   background-image:url(BirthdayImage.jpg);
   border-style:ridge;
}

